@page "/"
@inject MoviesClient Client


<PageTitle>My Movies Database</PageTitle>

<div class="row">
    <h1 class="text-center text-primary">My Movies</h1>
    @if(movies is null)
    {
        <p class="text-center">Loading...</p>
    }
    else
    {
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var movie in movies)
            {
                <div class="card border-info text-center">
                    <div class="card-header">
                        <h5 class="card-title">@movie.Name</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">@movie.Genre?.Name</p>
                        <p class="card-text">@movie.Price.ToString("C")</p>
                        <p class="card-text">@movie.ReleaseDate</p>
                    </div>
                </div>
            }
        </div>
    }
</div>

@code{
    private Movie[]? movies;

    protected override async Task OnInitializedAsync()
    {
        movies = await Client.GetMoviesAsync();
    }

}